<%-include("partials/header.ejs") %>

<div class="container my-3 scrollable">
	<div class="row align-items-start border-bottom pb-3" style="flex: 1 1 auto">
		<!-- Book Cover -->
		<div class="col-4 col-md-3">
			<img <%if ( locals.thisBook.book_cover_id == "NoCover" ) {%>
			src="images/blank_cover.jpeg" <%}else{%>
			src="https://covers.openlibrary.org/b/olid/<%=locals.thisBook.book_cover_id%>-L.jpg"
			<%}%> alt="Book cover" class="img-fluid" />
		</div>

		<!-- Book Info -->
		<div class="col-8 col-md-9" id="bookInfoCol">
			<div>
				<h2 class="simonetta-black fontFlex-h2" style="text-align: left">
					<%=locals.thisBook.book_title%>
					(<%=locals.thisBook.book_first_publish%>)
				</h2>
				<!-- Add a div to get h3 on the left of the screen and the button on the right on the same line -->

				<div class="d-flex justify-content-between align-items-center">
					<h3 class="simonetta-regular fontFlex-h3" style="text-align: left">
						<%=locals.thisBook.author_name%>
					</h3>
					<button
						type="button"
						class="btn btn-secondary d-flex align-items-center fontFlex"
						id="toggleDescription"
					>
						<span id="toggleText">Hide Description</span>
						<i
							class="bi bi-chevron-down ms-2 toggle-icon rotated"
							id="descIcon"
							style="color: white"
						></i>
					</button>
				</div>
				<p
					class="fontFlex simonetta-regular-italic slide open mt-2"
					id="bookDescription"
				>
					<%=locals.thisBook.book_summary%>
				</p>
			</div>

			<div id="bookArea">
				<form
					action="/submit"
					method="POST"
					style="display: flex; flex-direction: column; height: 100%"
					id="bookAnalysisForm"
				>
					<div class="d-flex justify-content-between align-items-center my-2">
						<h3 class="simonetta-black fontFlex-h3" style="text-align: left">
							My book analysis
						</h3>

						<div>
							<button type="submit" class="btn fontFlex" id="btnSubmit">
								Save
							</button>
							<button type="button" class="btn fontFlex" id="btnDelete">
								Delete
							</button>
							<button type="button" class="btn fontFlex" id="btnCancel">
								Cancel
							</button>
						</div>
					</div>
					<div class="mb-3 scrollable">
						<div
							id="quillEditor"
							class="form-control simonetta-regular"
							style="height: 100%; font-size: 1rem"
						>
							<%- thisBook.book_notes%>
						</div>
						<input type="hidden" name="bookAnalysis" id="bookAnalysis" />
						<input
							type="hidden"
							name="bookStructure"
							id="bookStructure"
							value="No Structure"
						/>
						<input type="hidden" name="bookRating" id="bookRating" value="2" />

						<input
							type="hidden"
							name="bookId"
							id="bookId"
							value="<%= locals.thisBook.id_book %>"
						/>
						<input
							type="hidden"
							name="userId"
							id="userId"
							value="<%= locals.thisBook.id_reader %>"
						/>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

<%-include("partials/footer.ejs") %>
