<!-- TODO: Add a banner on the card to show this book is in your library. -->

<%-include("partials/header.ejs") %>

<div class="container mt-4">
	<div class="mb-3">
		<input
			type="text"
			id="filterBar"
			class="form-control"
			placeholder="Filter your books..."
			onkeyup="filterBooks()"
		/>
	</div>

	<div class="row justify-content-start" id="bookList">
		<!-- Save the user id for future use. -->
		<input type="hidden" id="userId" value="<%= locals.userId %>" />
		<% bookList.forEach(book => { %>
		<div class="col-sm-6 col-md-4 col-lg-3 d-flex align-items-stretch">
			<div class="card text-center mb-3" style="width: 100%">
				<div class="card-body">
					<h5 class="card-title simonetta-black"><%= book.book_title %></h5>
					<% const cover = book.book_cover_id || 'default-cover'; %>
					<picture>
						<!-- Fallback image -->
						<%if (cover == "default-cover" ) {%>
						<source srcset="images/blank_cover.jpeg" />
						<%}else{%>
						<source
							srcset="https://covers.openlibrary.org/b/olid/<%=cover%>-M.jpg"
						/>
						<%}%>
						<img
							src="images/blank_cover.jpeg"
							alt="Book Cover Picture"
							class="img-fluid samples"
						/>
					</picture>
					<p class="card-text simonetta-regular-italic fontFlex">
						by <%= book.author_name %>
					</p>

					<button
						type="button"
						class="btn btn-primary moreBtn fontFlex"
						data-key="<%= book.id_book %>"
					>
						View More
					</button>
				</div>
			</div>
		</div>
		<% }); %>
	</div>
</div>

<%-include("partials/footer.ejs") %>
