<%-include("partials/header.ejs") %>

<div class="container mt-3 scrollable">
	<div class="row align-items-start" style="flex: 1 1 auto">
		<!-- Book Cover -->
		<div class="col-12 col-md-3" style="text-align: center">			
			<picture>
				<!-- Medium size for small screens -->
				<% if (locals.thisBook.book_cover_id) { %>
				<source 
					srcset="https://covers.openlibrary.org/b/olid/<%= locals.thisBook.book_cover_id %>-M.jpg" 
					media="(max-width: 768px)" 
				/>
				<!-- Large size for larger screens -->
				<source 
					srcset="https://covers.openlibrary.org/b/olid/<%= locals.thisBook.book_cover_id %>-L.jpg" 
					media="(min-width: 769px)" 
				/>
				<% } else { %>
					<source
					srcset="images/blank_cover.jpeg"/> 
				<%}%>
				<!-- Fallback image -->
				<img 
						src="images/blank_cover.jpeg" 
					alt="Book cover" 
					class="img-fluid" />
			</picture>


			<!-- Add a dropdown menu to select the book collection and select the one coming from thisBook.book_collection -->
			<div class="dropdown"
			<%= locals.userId== null ? 'hidden' : '' %>>
				<select
					class="form-select simonetta-regular my-2 searchBorders text-center"
					id="bookCollectionSelect"
					name="bookCollection"
					style="width: 100%"
				>	
				<% locals.collections.forEach((collection) => { %>
					<option
						value="<%= collection.collection_name %>"
						<% if (collection.collection_name == locals.thisBook.book_collection) { %>
							selected
						<% } %>
					>
						<%= collection.collection_name %>
					</option>
				<% }); %>
				</select>
			</div>
			<!-- Star rating system -->
			<div class="star-rating interactive"
			<%= locals.userId== null ? 'hidden' : '' %> >
				<input
					type="hidden"
					name="book_rating"
					id="book_rating"
					value="<%= locals.thisBook.book_rating || 0 %>"
				/>
				<% for (let i = 1; i <= 5; i++) { %>
				<i
					class="bi <%= i <= locals.thisBook.book_rating ? 'bi-star-fill' : 'bi-star' %>"
					data-value="<%= i %>"
				></i>
				<% } %>
			</div>
		</div>


		<!-- Book Info -->
		<div class="col-12 col-md-9 mt-2" id="bookInfoCol">
			<div>
				<h2 class="simonetta-black fontFlex-h2" style="text-align: left">
					<%=locals.thisBook.book_title%>
					<span style="font-size: small;">(<%=locals.thisBook.book_first_publish%>)</span>
				</h2>			

				<!-- Add a div to get h3 on the left of the screen and the button on the right on the same line -->
				<div
					class="d-flex justify-content-between align-items-center mt-2"
					style="flex-wrap: wrap"
					<% if(locals.userId == null) { %> hidden <% } %>
				>
					<h3 class="simonetta-regular fontFlex-h3" style="text-align: left">
						<%=locals.thisBook.author_name%>
					</h3>
					<button
						type="button"
						class="btn btn-secondary d-flex align-items-center fontFlex"
						id="toggleDescription"
					>
						<span id="toggleText">Hide Description</span>
						<i
							class="bi bi-chevron-down ms-2 toggle-icon rotated"
							id="descIcon"
							style="color: white"
						></i>
					</button>
				</div>
				<div id="bookDescription" class="open slide">
				<p
					class="fontFlex simonetta-regular-italic"
				>
					<%=locals.thisBook.book_summary%>	
				</p>
				<!--Only show the paragprah if there are links in the thisAuthor.author_links-->
				<% if(locals.thisBook.book_links) { %>
					<p class="fontFlex simonetta-regular-italic  m-0 p-0">
						External links about the book:
					</p>
					<% } %>
					<ul
						class="list-group list-group-flush fontFlex simonetta-regular-italic mb-1 mx-5">
					<!-- List all the links contained in the thisAuthor.author_links-->
					<% if (locals.thisBook.book_links) { %>
						<% locals.thisBook.book_links.forEach(link => { %>
							<li >
								<a
									href="<%=link.url%>"
									target="_blank"
									>
									<%=link.title%>
								</a>
							</li>
						<% }) }%>
					</ul>
					</div>
			</div>

			<div id="bookArea"
			<%= locals.userId== null ? 'hidden' : '' %>
			>
				<form
					action="/myBooks"
					method="GET"
					style="display: flex; flex-direction: column; height: 100%"
					id="bookAnalysisForm"
				>
					<div
						class="d-flex justify-content-between align-items-center my-2"
						style="flex-wrap: wrap"
					>
						<h3 class="simonetta-black fontFlex-h3" style="text-align: left">
							My book analysis
						</h3>

						<div>
							<button type="button" class="btn fontFlex" id="btnSave">
								Save
							</button>
							<button type="button" class="btn fontFlex" id="btnDelete">
								Delete
							</button>
							<button type="submit" class="btn fontFlex" id="btnCancel">
								Back
							</button>
						</div>
					</div>
					<div class="scrollable">
						<div
							id="quillEditor"
							class="form-control simonetta-regular"
							style="height: 90%; font-size: 1rem"
						>
							<%- thisBook.book_notes%>
						</div>
						<input type="hidden" name="bookAnalysis" id="bookAnalysis" />
						<input
							type="hidden"
							name="bookStructure"
							id="bookStructure"
							value="No Structure"
						/>
						<input type="hidden" name="bookRating" id="bookRating" />

						<input
							type="hidden"
							name="bookId"
							id="bookId"
							value="<%= locals.thisBook.id_book %>"
						/>
						<input
							type="hidden"
							name="userId"
							id="userId"
							value="<%= locals.thisBook.id_reader %>"
						/>
					</div>
				</form>
			</div>
			<a type="button" class="btn fontFlex" href="/" <%= locals.userId== null ? '' : 'hidden' %>>Back to library</a>		</div>
	</div>
</div>
	<%-include("partials/footer.ejs") %>

